* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-height: 100vh;
}

body {
  scroll-behavior: smooth;
  font-family: 'PT Sans', sans-serif;
}

a {
  text-decoration: none;
}
